In [1]:
#Question 1

a = 0

def b():
    global a 
    a = c(a)

def c(a):
    return a + 2
b()
b()
b()
a

6

In [ ]:
#the global variable in the shell was intitally defined as a = 0. 
#The function c takes the global variable from the shell and returns a + 2
#the function, b defines its global variable from function c
#when the function b() is called, the c(a) is invoked,

In [14]:
##question 2

def fileLength(file_name):
    file = open(file_name)
    try:
        contents = file.read()
        file.close()
        print(len(contents))
    except: 
        print("file", contents, "not found")

In [6]:
##QUESTION 3

class Marsupial:
    def __init__(self, put_in_pouch):
        self.pouch = put_in_pouch
        
    def contents(self):
        return list.self.append()

class kangaroo(Marsupial):
    
    def __init__(self, put_in_pouch, xcoord, ycoord):
        self.x = xcoord
        self.y = ycoord
        
    def contents(self):
        list.self.append
        
    def jump(self, dx, dy):
        self.x = dx
        self.y = dy
        
    def __str__(self):
        print("I am a Kangaroo located at coordinated", format(xcoord, ycoord))
    
k = kangaroo(0,0)
print(k)

k.put_in_pouch("doll")
k.put_in_pouch("firetruck")
k.put_in_pouch("kitten")
k.contents()

k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

TypeError: __init__() missing 1 required positional argument: 'ycoord'

In [1]:
## QUESTION 4

def collatz(x):
        if x%2 == 0:
            collatz(x//2)
            print(x//2)
        else:
            return (3*x) + 1
    
collatz(10)

5

In [1]:
##QUESTION 5

def binary(n):
    if n <= 1:
        print(n)
    else:
        binary(n//2)
    print(n%2, end = ' ')
binary(0)
binary(1)
binary(3)
binary(9)

0
0 1
1 1
1 1 1
1 0 0 1

In [5]:
##QUESTION 8


cur.execute("SELECT Temperature FROM table")

cur.execute("SELECT city FROM table GROUP BY city")

cur.executeSELECT * FROM table 
WHERE city = "india"

cur.execute("SELECT * FROM table  WHERE season = 'fall'")

cur.execute("SELECT city, country, season, AVG(rainfall) FROM table WHERE 200 >= AVG(rainfaill) <= 400")

cur.execute("SELECT city, country, AVG(fall) as avg_fall FROM table WHERE AVG(fall) > 20 ORDER BY temperature") 

cur.execute("SELECT city, SUM(rainfall) FROM table  where city = 'cairo'")

cur.execute("SELECT season, SUM(rainfall) FROM table GROUP BY Season")

SyntaxError: invalid syntax (3837067900.py, line 8)

In [7]:
## QUESTION 9

words = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]

newlist = [word.upper() for word in words]
newlist

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [6]:
a_newlist = [word.lower() for word in words]
a_newlist

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [5]:
len_words = [len(word) for word in words]
len_words

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [4]:
more_than_4 = [word for word in words if len(word) >= 4]
more_than_4

['quick', 'brown', 'jumps', 'over', 'lazy']